DATABASE_URL=postgresql://user:pass@localhost:5432/dbname
CORS_ORIGIN=http://localhost:3000

# Optional: configure both values together to use OneSignal for push notifications.
ONESIGNAL_APP_ID=4f5a82f5-92e8-43f0-ac54-8c194f778c9a
ONESIGNAL_REST_API_KEY=os_v2_app_j5nif5ms5bb7blcurqmu654mtkmfhz3el75ekzn7i5iiiysapzjcvztlciv76fxxm6zzbzcmbnseef6cra3llkpyx4lriszbqdq7oni
